<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Denal05\SwiftOtterOrderExport\Action\TransformOrderToArray">
        <arguments>
            <argument name="dataCollectors" xsi:type="array">
                <item name="header_data" xsi:type="object">Denal05\SwiftOtterOrderExport\Collector\HeaderData</item>
                <item name="item_data" xsi:type="object">Denal05\SwiftOtterOrderExport\Collector\ItemData</item>
            </argument>
        </arguments>
    </type>
    <type name="Denal05\SwiftOtterOrderExport\Collector\ItemData">
        <arguments>
            <argument name="allowedProductTypes" xsi:type="array">
                <item name="simple" xsi:type="const">Magento\Catalog\Model\Product\Type::TYPE_SIMPLE</item>
                <item name="virtual" xsi:type="const">Magento\Catalog\Model\Product\Type::TYPE_VIRTUAL</item>
            </argument>
        </arguments>
    </type>
</config>
